# Deny all
*

# Allow list
!.gitignore
!CMakeLists.txt
!LICENSE
!Makefile

# src folder
!src
!src/**/
!src/**/*[.cpp,.h,.py]

# VSCode settings
!.vscode
!.vscode/*

# Building scripts
!build.sh
!toolchains/
!toolchains/*

# config sample
!config.sample.yml